<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page}} | Ready SA - Official Website</title>
	<link rel="shortcut icon" href="/assets/logo/logo-color-fill.png" type="image/x-icon">

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex col middle">
	<nav class="flex between w-1">
		<div class="flex start middle b-w-pad h-1 w-3 nav-search">
			<label class="flex middle h-60 relative" for="search">
				<input type="text" name="search" id="search" autocomplete="off">
				<span>🔎</span>
			</label>
		</div>

		<div class="flex center middle h-1 w-3 nav-brand" href="/">
			<a class="flex middle h-90 relative" href="/">
				<img src="/assets/logo/logo-color-fill.svg" alt="Logo">
				<span>Ready</span>
			</a>
		</div>

		<div class="flex end gap middle b-w-pad h-1 w-3 nav-menu">
			<a class="flex middle h-60" href="/cart">
				<img class="ui-icon" src="/assets/icons/cart-svgrepo-com.svg" alt="Cart">
			</a>
			<a class="flex middle h-60" href="/user">
				<img class="ui-icon" src="/assets/icons/user-svgrepo-com.svg" alt="User">
			</a>
		</div>
	</nav>
	{{{body}}}
</body>

</html>