<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TQKSJK6H');</script>
	<!-- End Google Tag Manager -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page}} | Ready SA - Official Website</title>
	<link rel="shortcut icon" href="/assets/logo/logo-color-fill.png" type="image/x-icon">

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">

	<script src="/scripts/shoe_photo.js" defer></script>
	<script src="/scripts/catalog_search.js" defer></script>
	<script src="/scripts/filter_bar.js" defer></script>
</head>

<body class="flex col align">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQKSJK6H" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<nav class="flex row between">
		<div class="flex start align big-padding nav-search">
			<label class="flex align gap relative" for="search">
				<input type="text" name="search" id="search" autocomplete="off">
				<span>🔎</span>
			</label>
		</div>

		<div class="flex justify padding relative nav-brand" href="/">
			<a class="flex align relative" href="/">
				<img src="/assets/logo/logo-color-fill.svg" alt="Ready">
				<span>Ready</span>
			</a>
		</div>

		<div class="flex end gap align big-padding nav-menu">
			<a class="flex align" href="/cart">
				<img class="ui-icon" src="/assets/icons/cart-svgrepo-com.svg" alt="">
			</a>
			<a class="flex align" href="/user">
				<img class="ui-icon" src="/assets/icons/user-svgrepo-com.svg" alt="">
			</a>
		</div>
	</nav>
	{{{body}}}
</body>

</html>