@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-bg: #FFF;
	--primary-fg: #000;
	--secondary-bg: #BDF;
	--secondary-fg: #FFF;

	--dimmed-bg: #DDD;
	--dimmed-fg: #666;
	--highlight-bg: #000;
	--highlight-fg: #FFF;

	--hover-bg: #CCC;
	--hover-fg: #444;
	--active-bg: #AAA;
	--active-fg: #666;

	--transparent-dim: #FFFC;
	--transparent-mid: #FFFA;
	--transparent-light: #FFF8;

	--shadow-dim: #0004;
	--shadow-mid: #0008;
	--shadow-dark: #000A;
	--shadow-black: #000;

	--accent-1: #80F;
	--accent-2: #FAA;
	--accent-3: #0FF;

	--error-bg: #FDD;
	--error-fg: #C04;
	--warning-bg: #FED;
	--warning-fg: #A60;
	--success-bg: #EFE;
	--success-fg: #284;
	--info-bg: #DEF;
	--info-fg: #48C;

	--form-border: 0.125em solid;
	--input-border: 0.125em solid;
	--message-border: 0.125em solid;
	--card-border: 0.125em solid;
	--img-border: 0.125em solid;

	--card-border-radius: 0.5em;

	--nav-height: 4em;
	--menu-height: 4em;
	--filters-width: 15em;
	--page-width: 1920px;

	--fast-transition: 250ms;
	--pace-transition: 500ms;
	--slow-transition: 1000ms;

	font-size: 16px;
	font-family: 'Poppins', 'Segoe UI', sans-serif;
}

*,
*:before,
*:after {
	outline: none;
	border: none;

	padding: 0;
	margin: 0;
	box-sizing: border-box;

	text-decoration: none;
	list-style: none;
}

/********** MAIN **********/

html {
	height: 100vh;
	width: 100vw;
}

body {
	background-image: url('/assets/images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	height: 100%;
	width: 100%;

	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	user-select: none;
	font-weight: normal;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.25em;
}

a {
	color: inherit;
}

img {
	width: 100%;
	height: 100%;
}

input {
	background: transparent;
	box-shadow: 0 0 0 1px;

	padding: 0.25em 0.5em;
}

button,
select {
	background: none;
	border: 1px solid;

	text-align: center;

	cursor: pointer;
	appearance: none;
}

.ui-icon {
	max-height: 2em;
	max-width: 2em;

	transition:
		transform var(--fast-transition);
}

.ui-icon:hover {
	transform: scale(1.125);
}

.view {
	max-width: var(--page-width);
	height: calc(100% - var(--nav-height));
}

.small-padding {
	padding: 0.25em;
}

.padding {
	padding: 0.5em;
}

.big-padding {
	padding: 1em;
}

.relative {
	position: relative;
}

.flex {
	display: flex;
	flex-wrap: nowrap;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.huge-gap {
	gap: 2em;
}

.flex.big-gap {
	gap: 1em;
}

.flex.gap {
	gap: 0.5em;
}

.flex.small-gap {
	gap: 0.25em;
}

.flex.tiny-gap {
	gap: 0.125em;
}

.flex.justify {
	justify-content: center;
	justify-items: center;
}

.flex.between {
	justify-content: space-between;
}

.flex.even {
	justify-content: space-evenly;
}

.flex.start {
	justify-content: start;
}

.flex.end {
	justify-content: end;
}

.flex.align {
	align-items: center;
	align-content: center;
}

.flex>stretch {
	flex: 1;
}

.flex>grow {
	flex-grow: 1;
}

.center {
	text-align: center;
}

.max {
	width: 100%;
	height: 100%;
}

.small-text {
	font-size: 0.75em;
}

/* ========== NAVIGATION BAR ========== */

nav {
	background: var(--primary-bg);
	box-shadow: 0 0 1em;

	width: 100%;
	height: var(--nav-height);

	z-index: 3;
}

nav>div {
	width: calc(100%/3);
	height: 100%;
}

nav>div>a {
	height: 100%;
}

.nav-brand a {
	transition:
		transform var(--pace-transition);
}

.nav-brand a:hover {
	transform: scale(1.125) translateY(0.125em);
}

.nav-brand img {
	width: var(--nav-height);
	height: var(--nav-height);

	object-fit: contain;
}

.nav-brand img+span {
	position: absolute;
	top: 1em;
	right: -1.5em;

	transform: rotate(55deg);
}

#search {
	background: linear-gradient(180deg, transparent 80%, var(--accent-2) 80%);
	color: transparent;
	border-radius: 2em;
	box-shadow: 0 0 0 0.125em var(--accent-1);

	width: 2.5em;
	height: 2.5em;
	text-align: center;

	transition:
		width var(--pace-transition),
		color var(--pace-transition);
}

#search:focus {
	color: var(--primary-fg);
	width: 15em;
}

#search+span {
	font-size: 1.25em;

	position: absolute;
	right: 0.5em;

	pointer-events: none;
	transition:
		right var(--slow-transition),
		transform var(--fast-transition);
}

#search:focus+span {
	right: -1.5em;
}

/* ========== SHOE CATALOG ========== */

.filter-bar {
	background: var(--transparent-dim);
	box-shadow: 0 0 1em -0.5em;

	position: absolute;
	top: 0;
	left: calc(var(--filters-width) * -1);
	z-index: 2;

	width: var(--filters-width);
	height: 100%;

	overflow: hidden;
	transition:
		left var(--pace-transition);
	transition-delay: 100ms;
}

.catalog-section {
	width: 100vw;

	transition:
		margin-left var(--pace-transition),
		width var(--pace-transition);
	transition-delay: 100ms;
}

.catalog-menu {
	background: var(--transparent-dim);
	box-shadow: 0 0 1em -0.5em;

	z-index: 1;

	height: var(--menu-height);
}

.catalog-menu button,
.catalog-menu select,
.catalog-menu label div {
	background: var(--primary-bg);
	border-color: var(--accent-1);
	border-radius: 0.5em;

	height: 2em;
	width: fit-content;
}

.catalog-menu label div {
	font-size: 0.75em;

	background: linear-gradient(transparent 54%, var(--primary-bg) 54%);

	position: absolute;
	top: -0.75em;
	left: 1em;

	pointer-events: none;
}

.catalog-menu button img {
	transition:
		transform var(--fast-transition);
}

.catalog-menu button {
	transition:
		transform var(--fast-transition);
}

.catalog-menu button:active {
	transform: translateX(1em);
}

.catalog-section.shrink-catalog-section .catalog-menu button:active {
	transform: translateX(-1em);
}

.catalog-menu button:hover img {
	transform: scale(1.25);
}

.catalog-menu label div img:nth-of-type(even) {
	transform: rotate(180deg);
}

.catalog-menu label:hover div img:nth-of-type(even) {
	transform: rotate(360deg);
}

.catalog-menu label:hover div img:nth-of-type(odd) {
	transform: rotate(180deg);
}

.catalog-display {
	height: calc(100% - var(--menu-height));

	z-index: 0;

	scrollbar-width: none;
	overflow: auto;
}

/* ========== SHOE CARD ========== */

.shoe-card {
	background: var(--transparent-light);
	border: none;
	border-radius: var(--card-border-radius);
	box-shadow: 0 0.25em 0.5em -0.25em var(--shadow-dim);

	text-align: justify;

	width: 18em;
	transition:
		box-shadow var(--pace-transition),
		background var(--fast-transition);
}

.shoe-card:hover {
	background: var(--secondary-bg);
	box-shadow: 0 0.25em 0.5em 0 var(--shadow-mid);
	cursor: pointer;
}

.shoe-card>* {
	border-radius: calc(var(--card-border-radius)*0.75);
}

.shoe-card>*>*,
.shoe-card>*>*>*,
.shoe-card>*>*>*>*,
.shoe-card>*>*>*>*>* {
	border-radius: calc(var(--card-border-radius)*0.5);
}

.shoe-images {
	background: var(--primary-bg);
	box-shadow: 0 0.125em 0.25em -0.125em var(--shadow-dim);

	position: relative;
	overflow: hidden;

	transition:
		box-shadow var(--pace-transition),
		border var(--pace-transition);
}

.shoe-img {
	width: 100%;
	height: auto;

	object-fit: cover;
	aspect-ratio: 1;

	filter: contrast(1.25);
}

.shoe-card:hover .shoe-images {
	box-shadow: none;
}

.shoe-price {
	font-size: 1.25rem;

	background: var(--accent-2);
	border-radius: 0.25rem;

	position: absolute;

	padding: 0.275rem 0.5rem;

	transform: rotate(-15deg);
}

.shoe-price:before {
	content: '';

	border-top: 1.125rem solid transparent;
	border-bottom: 1.125rem solid transparent;
	border-right: 1.125rem solid var(--accent-2);

	position: absolute;
	top: 50%;
	left: -1rem;

	transform: translateY(-50%);
}

.shoe-price:after {
	content: '';

	background-color: var(--primary-bg);
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: -0.5rem;

	width: 0.5rem;
	height: 0.5rem;

	transform: translateY(-50%);
}

.shoe-details {
	/* max-height: 2em; */

	overflow: hidden;
	transition:
		max-height var(--pace-transition);
	transition-delay: 0ms;
}

.shoe-card:hover .shoe-details {
	/* max-height: 20em; */

	transition-delay: 1000ms;
}

.shoe-price {
	font-size: 1.5em;

	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

.shoe-color,
.shoe-size {
	border: 1px solid;
	padding: 0.125em 0.25em;
}

.shoe-color.highlight {
	background: var(--highlight-bg);
	color: var(--highlight-fg);
	border-color: var(--highlight-bg);
}

/********** MESSAGES **********/

.message {
	background: var(--secondary-bg);
	color: var(--secondary-fg);
	border: var(--message-border) solid var(--secondary-fg);
	border-radius: 0.5em;

	height: fit-content;
	width: fit-content;
	max-width: 100%;
	padding: 0.5em 1em;

	overflow: hidden;
}

.message.pre-animation {
	border-width: 0;
	height: 0;
	width: 0;
	padding: 0;
	opacity: 0;
}

.message.error {
	background: var(--error-bg);
	color: var(--error-fg);
	border-color: var(--error-fg);
}

.message.warning {
	background: var(--warning-bg);
	color: var(--warning-fg);
	border-color: var(--warning-fg);
}

.message.success {
	background: var(--success-bg);
	color: var(--success-fg);
	border-color: var(--success-fg);
}

.message.info {
	background: var(--info-bg);
	color: var(--info-fg);
	border-color: var(--info-fg);
}

/********** TRANSITIONS / ANIMATIONS **********/

.slide-in-out {
	animation: slide-in-out var(--transition-time);
}

@keyframes slide-in-out {
	0% {
		border-width: 0;
		height: 0;
		width: 0;
		padding: 0;
		opacity: 0;
	}

	6.25% {
		border-width: var(--message-border);
		height: fit-content;
		width: fit-content;
		padding: 0.5em 1em;
		opacity: 1;
	}

	87.5% {
		border-width: var(--message-border);
		height: fit-content;
		width: fit-content;
		padding: 0.5em 1em;
		opacity: 1;
	}

	100% {
		border-width: 0;
		height: 0;
		width: 0;
		padding: 0;
		opacity: 0;
	}
}

.expand-filter-bar {
	left: 0;
}

.shrink-catalog-section {
	margin-left: var(--filters-width);
	width: calc(100vw - var(--filters-width));
}

/********** FUNCTIONALITY **********/

.invisible {
	opacity: 0;
}

.hidden {
	display: none;
}

/********** TEMPORARY (remove for deployment) **********/

/* .shoe-card {
	outline: 1px solid red;
} */

/* nav>* {
	outline: 1px solid cyan;
}

nav>*>* {
	outline: 1px solid red;
} */